<% layout('.././layouts/main') %>

<div class="card" style="width: 18rem">
  <img
    src="https://picsum.photos/200/300"
    class="card-img-top"
    alt="random photo"
    style="width: 100%; height: 150px"
  />
  <div class="card-body">
    <h5 class="card-title">Xush Kelibsiz <%= userData.full_name %></h5>
    <p class="card-text">Sizning emailingiz: <%= userData.email %></p>
    <form action="/logout" method="post">
      <button type="submit" class="btn btn-primary">Log Out</button>
    </form>
  </div>
</div>
